%h1
  %a(href="http://platbamobilom.zoznam.sk")http://platbamobilom.zoznam.sk
%ul
  %li
    %a(href="http://platbamobilom.zoznam.sk/doc/technicka-prirucka.pdf") API guide
  %li
    %a(href="https://www.platbamobilom.sk/index.php?page=overenie-kluca&pid=3") Test signature

%h1 Platbamobilom sandbox
%ul
  %li
    %a(href="/valid_sample") Valid sample
  %li
    %a(href="/invalid_sample") Invalid sample