%pre= params.to_yaml

%form{action: '/confirm', method: :post}
  - for param in %w{PID ID DESC PRICE URL EMAIL SIGN}
    %input{name: param, type: "hidden", value: params[param]}/
  
  %label(name="confirm") Do you want pay #{@price} &euro;?
  %input(name="confirm" type="submit" value="Confirm")/
  %input(name="confirm" type="submit" value="Cancel")/